[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "surveycore"]
	path = surveycore
	url = https://github.com/jdenn0514/surveycore
